body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

#root{
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 30rem;
  height: 100%;
}

main {
  grid-area: main;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.new{
  background: #1c2b2d;
  color: #d1d1d1;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

i{
  text-decoration: none;
  color: white;
}

p{
  font-size: 12pt;
}

li{
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

h2{
  margin-bottom: 1 rem;
  margin-top: 0;
}

h3{
  margin-bottom: 0;
  margin-top: 0;
}

h4{
  color: #1c2b2d;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

h5{
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

header {
  grid-area: header;
  background-color: #1c2b2d;
  display: flex;
}

.logo img {
  margin-top: 10px;
  width: 20%;
  float: left;
  padding-top: 10px;
  background-color: transparent;
}
.menu a {
  font-size: 12pt;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 5px 25px 0 0;
  float: right;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
}

.menu p{
  margin-top: 8px;
}

.menu svg{
  padding: 5px;
  transition: .3s;
}

.menu svg:hover{
  border-radius: 70px;
  background: #d1d1d1;
  align-items: center;
  color: #1c2b2d;
}

.badge {
  color: #ffffff;
  font-size: 12pt;
  margin-left: 0.2rem;
}

.heading{
  background: radial-gradient(#fff,#d1d1d1) ;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{

  max-width: 100%;
  padding: 50px 0;
}

.col-3{
  flex-basis: 30%;
  min-width: 250;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.col-3 img{
  width: 100%;
}

.col-4{
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  flex-wrap: wrap;
}

.col-4:hover{
  transform: translateY(-5px);
  background: #d1d1d1;
  border-radius: 10px;
}

.col-4 img{
  width: 100%;
}

.brands{
  margin: auto;
  background: #1c2b2d;
}

.col-5{
  flex-basis: 10%;
  padding: 5px;
  min-width: 100px;
  margin-bottom: 20px;
}

.col-5 img{
  width: 100%;
  filter: grayscale(100%);
  cursor: pointer;
}

.col-5 img:hover{
  filter: grayscale(0%);
}

.tittle{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #1c2b2d;
}

.tittle::after{
  content: '';
  background: #d1d1d1;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.offer{
  background: radial-gradient(#fff,#d1d1d1) ;
  margin-top: 80px;
  padding: 30px 0;
}

.btn{
  display: inline-block;
  background: #1c2b2d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-5px);
}

.btnRegis{
  display: inline-block;
  background: #1c2b2d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
  width: 12%;
}

.btnRegis:hover{
  transform: translateY(-5px);
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-body h2 {
  margin-right: 10px;
}

.price {
  font-size: 2rem;
}
.row-body{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Cart*/
.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list{
  flex: 3 1 40rem;
}

.cart-action{
  flex: 1 1 15rem;
  background-color: #d1d1d1;
  border: .1rem #f0f0f0 solid;
  border-radius: .5rem;
  padding: 1rem;
}

.cart-list-container{
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container-price{
  margin-right: 130px;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: .1rem #1c2b2d solid;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image{
  flex: 1 1;
}

.cart-name{
  flex: 8 1;
  margin-bottom: 50px;
  margin-left: 50px;
}

.cart-name a{
  color: #1c2b2d;
  font-weight: bold;
}

.cart-price{
  flex: 2 1;
  margin-bottom: 110px;
  margin-right: 15px;
  text-align: left;
}

/* Dropdown */
.dropdown {
  display: absolute;
}

.dropdown-content p{
  font-size: 12pt;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 8rem;
  padding: .5rem;
  z-index: 1;
  background-color: #1c2b2d;
  margin: 0;
  margin-top: 3.5rem;
  border-radius: 0.3rem;
}
.dropdown:hover .dropdown-content {
  display: flex;
}

/* forms */
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 28rem;
  padding: 2rem;
  border: .1rem #d1d1d1 solid;
  border-radius: .5rem;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input{
  padding: 1rem;
  border: .1rem #d1d1d1 solid;
  border-radius: .5rem;
}

.text-center{
  text-align: center;
}

/*Product*/
.product-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined{
  margin: 1rem;
}

.table{
  width: 100%;
}

th{
  text-align: left;
}

tbody>tr:nth-child(odd){
  background-color: #d1d1d1;
}

/*Checkout Step*/

.checkout-step{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-step > div{
  border-top: .3rem #c0c0c0 solid ;
  color: #c0c0c0;
  flex: 1 1;
}

.checkout-step > div.active{
  border-top: .3rem #f08000 solid ;
  color: #f08000;
}

/*Product Detail*/
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.details-img{
  flex: 1 1 20rem;
}

.details-img img{
  max-width: 30rem;
  width: 100%;
}

.details-info{
  flex: 2 1 10rem;
  padding: 10px;
}

.details-action{
  flex: 1 1 10rem;
  border: .1rem #1c2b2d solid;
  border-radius: 5px;
  background-color: #ebebeb;
  padding: 10px;
}

.details-action li:last-child{
  display: flex;
  flex-direction: column;
}

.button{
  display: inline-block;
  background: #1c2b2d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: 0.1s;
  cursor: pointer;
}

.cart-action .button{
  width: 100%;
  margin-left: 0;
}

.buttontbl{
  display: inline-block;
  color: #1c2b2d;
  padding: 5px 8px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
  margin-left: 10px;
  transition: 0.1s;
  cursor: pointer;
}

.buttontbl:hover{
  background: #ffa600;
  color: #1c2b2d;
}

.button:hover{
  background: #ffa600;
  color: #1c2b2d;
}

.tombol{
  margin-top: 10px;
  padding: 10px;
  border: .1rem rgb(99, 95, 84) solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

.tombol:hover{
  background: #1c2b2d;
  color: white;
}

/*PlaceOrder*/

.placeorder{
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info{
  flex: 3 1 50rem;
}

.placeorder-action{
  flex: 1 1 15rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #eeeded;
  padding: 1rem;
}

.placeorder-info > div{
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child{
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child{
    font-size: 1.5rem;
    font-weight: bold;
    color: #c04000;
} 


/* Search
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
} */

.follow{
  color: white;
}

.footer{
  grid-area: footer;
  background: #1c2b2d;
  color: white;
  font-size: 14px;
  margin-top: 0;
  padding: 60px 0 20px;
}

.footer-col-1{
  flex-basis: 50%;
  padding: 5px;
  min-width: 100px;
  margin-bottom: 20px;
}

.footer-col-1 img{
  width: 100%;
  cursor: pointer;
}

.footer-col-2{
  flex-basis: 20%;
  min-width: 50px;
}

.follow a:hover{
  color : #ffa600
}

.footer h3{
  margin-bottom: 20px;
}

.copyright{
  text-align: center;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}